#clock{
    font-family: 'Oxanium', cursive;
}
.selector {
    font-size: 2rem;
    min-height: 50px !important;
    min-width: 50px !important;
    overflow: hidden;
}

.selector2 {
    font-size: 2rem;
    min-height: 50px !important;
    min-width: 50px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.center {
    padding: 5rem;
    margin: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(68, 68, 68, 0.712); /* Needed for IEs */

    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    zoom: 1;
}




.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  button {
      width: 150px;
      height: 50px;
      cursor: pointer;
      border: none;
      font-family: 'Comfortaa', cursive;
      color: rgba(255, 255, 255, 0.767);
      font-size: 20px;
      border-radius: 4px;
      box-shadow: inset 0px 3px 5px rgba(255,255,255,0.5), 0px 0px 10px rgba(0,0,0,0.15);
      background: rgb(2,0,36);
  background: linear-gradient(45deg, rgba(2,0,36,0) 5%, rgba(255,255,255,.5) 6%, rgba(255,255,255,0) 9%, rgba(255,255,255,.5) 10%, rgba(255,255,255,0) 17%, rgba(255,255,255,.5) 19%, rgba(255,255,255,0) 21%);
      background-size: 150%;
      background-position: right;
      transition: 1s;
  }
  
  button:hover {
      background-position: left;
      color: white;
      box-shadow: inset 0px 3px 5px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,0.25);
  }
  
  button:focus {
      outline: none;
  }
